<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crystal Cove Resort</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Niramit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
{% load static %}
<link rel="stylesheet" href="{% static 'hotel_app/css/style.css' %}">    
</head>
<body>
    <ul id="header" class="nav nav-fill">
        <img id="logo" src="{% static 'hotel_app/images/resort_logo.png' %}" />
        <li class="nav-item">
            <a class="nav-link active" href="#">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/rooms">ROOMS</a>
        </li>
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RESERVATION
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/reservation">Make a Reservation</a>
                <a class="dropdown-item" href="/update">Update Existing Reservation</a>
            </div>
        <li class="nav-item">
            <a class="nav-link active" href="#">DINING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">WELLNESS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">SPECIAL EVENTS</a>
        </li>
    </ul>
    <div id="slogan_container">
        <p class="slogan">Serenity.  Seclusion.</p>
        <p class="slogan">Discover Aruba.</p>
    </div>
    <a id="contact" class="nav-link active" href="#">Crystal Cove Resort,<br> 
        Boulevard # 55, Aruba Eagle Beach<br>Reservations 1-888-760-0036</a>
</body>
</html>